
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}


//website preloader

#loading{
    position: fixed;
    width:100%;
    height: 100vh;
    background: #fff
        url(../Magnify-1s-200px.gif)
    no-repeat center;
    z-index: 99999;

}

//website scrollup

#scrollup{
    position: fixed;
    bottom:10px;
    right: 20px;
    color: white;
    background: tomato;
    padding: 5px;
    border-radius: 20%;
    display: none;
}



// import file

@import 'mixins';


//variables

$header:#87509c;


// start header section

#header-section{
    background: linear-gradient(rgba(135, 80, 156, 0.8),rgba(135, 80, 156, 0.8)),url(../resources/css/img/contact-bg.jpg);
    @include commonBg;
    width: 100%;
    height: 90vh;

    #circle{
        width:35px;
        height: 40px;
        background: transparent;
        border:1px solid white;
        border-radius: 50%;
        margin: auto;
        margin-top: 8rem;
        position: relative;
        &::after{
            content: "";
            background: tomato;
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            top:50%;
            left: 50%;
            border-radius: 50%;
            transform:translate(-50%,-50%);
            animation-name: animate;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
        
    }
    
    
    
    @keyframes animate{
        
        50%{
            top:20%;
        }
        
        80%{
            top:80%;
            
        }
        
        100%{
            width:7px;
            height: 7px;
        }
        
    }
    
    
    
    
    
    
   
    .navbar-nav a{

        color: white;
        font-size: 15px;
        padding: 0px 20px;
    }

    .main-header{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h1{
            color: white;
            word-spacing: 5px;
        }

        .ct{
            margin-top:20px;
        }
        button{
          @include btnCommon;
        }

    }

}

// end header section





//start services section

#services-section{
    text-align: center;
     background: linear-gradient(rgba(23, 194, 164, 0.8),rgba(23, 194, 164, 0.8)),url(../resources/css/img/services-bg.jpg);
    @include commonBg;
    padding: 8rem 0rem;

    h2{
      @include headerTitle;

    }
    p{
      @include para;
    }
    .box{
        margin-top: 5rem
    }
    .box h3{
        color: white;
        margin: 15px 0px;
        text-transform: uppercase;
    }

}

// end services section




//    team section


    #team-section{
      padding: 5rem 0rem;
    text-align: center;
    background: linear-gradient(rgba(215, 225, 233, 0.7),rgba(215, 225, 233, 0.7)),url(../resources/css/img/team-bg.jpg);
    @include commonBg;

    img{
      width:200px;
      height: 200px;
      border-radius: 50%;
    }
    h3{
      margin: 10px 0px;
    }
  .boxTwo{
    margin-top: 5rem;
  }

    h2{
      @include headerTitle;
      padding-top:50px;
    }
  p{
    @include para;
    margin: 1.5rem 0rem;
    color: gray;
  }


.social ul li{
  list-style: none;
  display: inline-block;
  margin: 0rem 1rem;
}

        .fa{
            color: white;
        }
        
        
.social ul li a:link i::before{
@include social;
}

.social ul li a:hover i::before{
  transform: rotate(360deg);
}

    }

// end team section




// slils section
#skils-section{


  background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)),url(../resources/css/img/skill-bg.jpg);

  @include commonBg;
padding: 4rem 0rem;
h2{
  @include headerTitle;
  color: black;
}

p{
  @include para;
  color: black;
}


svg.radial-progress text{ fill:#000; }

svg.radial-progress circle{ stroke-width:5; }
svg.one circle{ stroke:#eb7d4b; }

svg.two circle{ stroke:#30bae7; }
svg.three circle{ stroke:#15c7a8; }
svg.four circle{ stroke:#d74680; }



h3{
  text-transform: uppercase;
}

.boxThree{
  margin-top:5rem;
}

}


// end skill section






// start portfolio section

#portfolio{
    padding: 40px 0px;
    
  background: linear-gradient(rgba(255, 221, 153, 0.79),rgba(255, 221, 153, 0.79)),url(../resources/css/img/portfolio-bg.jpg);

  @include commonBg;
    
    
    h2{ @include headerTitle;
  color: black;
        
    }
    
    p{
  @include para;
  color: black;
}

    img{
        width: 400px;
        height: auto;
    }    
    .ct{
            margin-top:20px;
        }
        #load{
        padding: 10px 40px;
        border:none;
        margin-top: 2rem;
        color: white;
        border-radius: 3px;
        font-size: 1.6rem;
        background: #17c2a4;
        border-bottom: 2px solid #14a58c;
        }
    
    
}


//end portfolio section



//start about section

#about{
    padding: 40px 0px;
       
  background: linear-gradient(rgba(215, 70, 128, 0.79),rgba(215, 70, 128, 0.79)),url(../resources/css/img/team-bg.jpg);

  @include commonBg;
    
     h2{ @include headerTitle;
  color: black;
        
    }
    
    p{
  @include para;
  color: black;
}
    
    img{
        width:100px;
        height: 100px;
        border-radius: 50%;
    }    
    
    
    
    
}


//end about section



//start contact section

#contact{
    padding: 40px 0px;
    background: linear-gradient(rgba(60, 84, 153, 0.79),rgba(60, 84, 153, 0.79)),url(../resources/css/img/testimonial-bg.jpg);

  @include commonBg;
      h2{ @include headerTitle;
  color: black;
        
    }
    
    p{
  @include para;
  color: white;
}
    
    input{
        padding: 4px 42px;
        margin: 3rem 1rem;
        font-size: 1.4rem;
        background: #273a71;
        border-color: #273a71;
    }
    
    #sms{
        background: #273a71;
        border-color: #273a71;
    }
    
    #send{
        padding: 10px 40px;
        background: #30bae7;
        border:none;
        margin-top: 2rem;
        color: white;
        border-radius: 3px;
        border-bottom: 2px solid #299ec5;
        font-size: 1.6rem;
        display: none;
    }
    
  
    
}


//end contact section


//start footer section

#footer-section{
    padding: 40px 0px;
    background: #344b8e;
    
    a{
        font-size: 2rem;
        color: white;
        text-decoration: none;
            
       
        transition: .6s ease;
        &:hover{
             border-bottom: 4px solid white;
        } 
        
        
    }
    
    
}





















@media only screen and (max-width:480px){
    
    #portfolio{
        img{
            width:100%;
            height: 100%;
        }
        
        
        
    }
    
    #contact{
        #sms{
            width:100%;
        }
    }
    
}





@media only screen and (max-width:768px){
    
    .portfolio img{
        width:100%;
        height: 100%;
    }
    
    
    #underline{
        border-bottom: 2px solid white;
        text-align: center;
    }
    
    
}


